
<div class=tree>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<div tree=treeData>
<ul *ngIf="treeData" let tree =treeData>
  <li *ngFor="let node of treeData">
 <div *ngIf="node.children!=0 && node.type=='folder'" (click)="toggleChild(node)">  <i class="material-icons">chevron_right</i><i class="material-icons">folder</i> {{node.name}}</div>
 <div *ngIf ="node.type=='file' "> <i class='far fa-file-image'></i>{{node.name}}</div>

 <div *ngIf ="node.type=='folder' && node.children==0 "> <i class="material-icons">folder</i> {{node.name}}</div>

   <app-tree *ngIf="node.showChildren" [treeData]="node.children"></app-tree> 
  </li>  
</ul>
</div>
</div>